<section class="container-fluid h-100">
    <div class="row esp-header" *ngIf="showHead">
        <div class="col-12 text-right main-nav">
            <a href="">My Account</a>
            <a href="">EIT Dashboard</a>

            <a href="" class="dropdown" id="dropdownMenuButton" data-toggle="dropdown"><i class="material-icons">
                    account_circle
                </i>Hello James
                <div class="dropdown-menu">
                    <button class="logout-but" (click)="logout()"> Logout</button>
                </div>
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>

</section>
<section class="esp-footer text-center pt-2">
    <img src="./assets/images/asiLogo-login.png" class="float-lg-left float-sm-left float-none ml-2">
    <span> © 2019, The Advertising Specialty Institute®. All Rights Reserved.</span>
</section>