body, html{
  height: 100%;
  
}
.bg-gray{
   background-color: #f8fcff;
  font-family: 'Open Sans', sans-serif !important;
}
label{
  font-size: 14px;
   font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}
.form-control{
  font-size: 14px;
  min-height: 43px;
}
.label-light{
  color: #979393 !important;
  font-weight: 400;
}
.btn-blue{
background: linear-gradient(180deg, #007DCC 0%, #004ACC 100%);
border: 1px solid #004ACC;
box-sizing: border-box;
border-radius: 4px;
  color: #fff;
  min-width: 120px;
height: 37px;

font-weight: 400;
font-size: 14px;
}
.btn-blue:hover{
  
  background: linear-gradient(180deg, rgba(0, 125, 204, 0.77) 0%, #004ACC 100%);
  color: #fff;
}
.esp-link, a{
  color: #0E9AFF;
  font-size: 14px
}
h5{
  font-size: 18px;
      font-weight: 600;
}
p{
  color: #6B6B6B;
}
.esp-footer{
  position: fixed;
  bottom: 0px;
  z-index: 99;
  width: 100%;
  font-size: 12px;
  color: #6B6B6B;
  background: #e8e8e8;
  height: 40px;
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
