body, html{
  height: 100%;
  
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif !important;
}

.alert, .alert-danger{
 padding: 3px !important;
    background-color: #fff !important;
    border: 0 !important;
        color: #b90a1a !important;
    font-size: 13px;
}
.alert i{
    position: relative;
    top: 5px;
    font-size: 18px;
}
.bg-gray{
   background-color: #f8fcff;
  font-family: 'Open Sans', sans-serif !important;
}
label{
  font-size: 14px;
   font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}
.form-control{
  font-size: 14px;
  min-height: 43px;
}
.form-control:focus{
	box-shadow:none;
}
.label-light{
  color: #979393 !important;
  font-weight: 400;
}
.label-black{
  color: #000 !important;
  font-weight: 400;
}
.btn-blue{
background: linear-gradient(180deg, #007DCC 0%, #004ACC 100%);
border: 1px solid #004ACC;
box-sizing: border-box;
border-radius: 4px;
  color: #fff;
  min-width: 120px;
height: 37px;

font-weight: 400;
font-size: 14px;
  border: 1px solid #004ACC;
}
.btn-blue:hover{
  
  background: linear-gradient(180deg, rgba(0, 125, 204, 0.77) 0%, #004ACC 100%);
  color: #fff;
}

.btn-search{
background: linear-gradient(180deg, #007DCC 0%, #004ACC 100%);
border: 1px solid #004ACC;
box-sizing: border-box;
border-radius: 4px;
  color: #fff;
  min-width: 53px;
height: 43px;

font-weight: 400;
font-size: 14px;
  border: 1px solid #004ACC;
}
.sort-select option{
	background:#0067bc;
	padding:3px 0;
}
.esp-link, a{
  color: #0E9AFF;
  font-size: 14px
}
h5{
  font-size: 18px;
      font-weight: 600;
}
p{
  color: #6B6B6B;
}
.esp-footer{
  position: fixed;
  bottom: 0px;
  z-index: 99;
  width: 100%;
  font-size: 12px;
  color: #6B6B6B;
  background: #e8e8e8;
  height: 40px;
}
.esp-header{
  height: 40px;
  background: linear-gradient(180deg, #4C97D6 0%, #1C5BA6 95.83%);
}
.main-nav .dropdown-menu  a {
   color: #000;
}
.main-nav a{
  
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
}
.main-nav i{
  position: relative;
  top: 7px;
  left: -4px;
  
  
}
.esp-sub-header button i{
      line-height: 0;
  position: relative;
  left: -10px;
  top: 5px;
  font-size: 22px;
}
.esp-header .logout-but{
	background:none;
	border:none;
}
.esp-pagination a{
   border:0px;
}
.pagnation-input{
  min-height: 33px;
  max-width: 59px;
  margin-right: 10px;
  padding-right:2px;
}
.page-link{
	cursor:pointer;
}

.side-nav-toolbar{
  max-width: 314px;
  background: #F8F8F8;
border: 1px solid #EBE9E9;
}
.side-nav-toolbar a.manage-product{
  color: #6B6B6B !important;
  font-size: 16px;
  
}
.side-nav-toolbar a.manage-product i{
   color: #344986;
  position: relative;
  top: 5px;
  margin-right: 8px;
  
}
.action-tool-bar{
  background: #F8F8F8;
 border: 1px solid #EBE9E9;
  height: 31px;
}
.side-nav-list{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.side-nav-list li{
   display: inline-block;
  width: 100%;
  border-top: 1px solid #E5E3E3;
  padding-top: 8px;
  padding-bottom: 8px;
 
  
}
.side-nav-list li a{
   color: #344986;
  font-weight: 600;
  padding-left: 38px;
}
ul.side-sub-nav-list{
   padding: 0px;
  margin: 0px;
}
ul.side-sub-nav-list li{
   display: inline-block;
  border: 0px;
   padding-top: 2px;
  padding-bottom: 2px;
  
}
ul.side-sub-nav-list li a{
  color: #6B6B6B;
  font-size: 13px;
  font-weight: 400;
  
}
ul.side-sub-nav-list li a.see-all, a.see-all i{
  color: #0E9AFF;
  
}
a.see-all i{
      font-size: 19px;
  position: relative;
  top: 5px;
  
}
.result-box{
  background: #FFFFFF;
border: 1px solid #F0F0F0;
box-sizing: border-box;
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.09);
  min-height: 160px;
}
.select-all-box{
   /*width: 80px;*/
}
.result-img{
  width: 114px;
height: 126px;
}
.result-content p{
  margin-bottom: 0px;
  font-size: 14px;

  
}
.esp-btn-white{
        height: 37px;
    
}
.esp-btn-white, .page-link.arrows{
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
border: 1px solid #E1E1E3;
box-sizing: border-box;
border-radius: 4px;
  min-width: 92px;
  padding-top: 1px;
    font-size: 14px;
}
.esp-btn-white:hover{
  
  
}
.page-link.arrows{
	min-width: 20px;
    padding: 4px 4px 3px 4px;
	cursor:pointer;
	color: #007bff !important;
	margin-left:3px;
}
.pagination-cont{
  max-width:320px;
}
.member-details{
  background: #FFFFFF;
border: 1px solid #F0F0F0;
box-sizing: border-box;
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.09);
  min-height: 226px;
}
.label-red{
  color: #EF5151;
}
.esp-btn-white i{
      color: #6B6B6B;
  position: relative;
  left: -3px;
  top: 6px;
}
.label-strong{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700;
  color: #000;
}
.member-table td {
      padding: 5px 5px 5px 15px !important;
  
  
}
.page-link:focus{
   box-shadow:none;
}
.page-link:hover{
   background: none;
}
.custom-checkbox{
	padding:0px;
}
.custom-checkbox input[type=checkbox]{
	margin:0px 10px;
}
.esp-modal-header{
    background: #F8F8F8;
    border: 1px solid #EBE9E9;
        padding-bottom: 6px;
    padding-top: 6px;
    
}
.esp-modal-header h4{
    
    font-size: 18px;

}
.progress-img{
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(53, 53, 53, 0.1803921568627451);
  z-index: 9;
}
.progress-img img{
    width: 62px;

}